.autocomplete-wrapper {
    position: relative;

    & > input[type=text] {

    }

    .button-container {
        position: absolute;
        top: 0;
        right: 0;
        background: #fff;
        height: 100%;
        line-height: 32px;
        padding: 0 5px;

        .show-suggestions-button {
            display: inline-block;
            height: 100%;
            line-height: 32px;
            cursor: pointer;
            color: #ccc;

            &:hover {
                color: #000;
            }
        }

        .clear-button {
            display: inline-block;
            height: 100%;
            line-height: 32px;
            cursor: pointer;
            color: #ccc;

            &:hover {
                color: #000;
            }
        }
    }

    .suggestions-container {
        position: absolute;
        left: 0;
        top: 32px;
        min-width: 100%;
        background: #fff;
        box-sizing: border-box;
        max-height: 250px;
        overflow-y: auto;
        white-space: nowrap;
        z-index: 1;

        box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;

        .suggestions-list {
            padding: 0;
            margin: 0;
            list-style: none;

            &.rtl > li {
                direction: rtl;
            }

            & > li {
                cursor: pointer;
                padding: 10px 15px;
                max-width: 400px;
                overflow: hidden;
                text-overflow: ellipsis;

                &.inactive {
                    color: #ccc;
                }

                &.selected {
                    color: #000;
                    background: #f3f3f3;
                }

                &:hover {
                    color: #000;
                    background: #f3f3f3;
                }
            }
        }
    }
}