.onoffswitch {
    position: relative;
    width: 50px;
    margin: 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    & .onoffswitch-checkbox {
        display: none;
    }

    & .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        height: 21px;
        padding: 0;
        line-height: 21px;
        border: 0 solid #FFFFFF;
        border-radius: 32px;
        background-color: #9E9E9E;

        &:before {
            content: "";
            display: block;
            width: 32px;
            margin: -5.5px;
            background: #FFFFFF;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 25px;
            border-radius: 32px;
            box-shadow: 0 6px 12px 0 #757575;

            transition: right 0.2s;
        }
    }
}

.onoffswitch-checkbox:checked {
    & + .onoffswitch-label {
        background-color: #42A5F5;
        border-color: #42A5F5;

        &:before {
            border-color: #42A5F5;
            right: 0;
            background-color: #2196F3;
            box-shadow: 3px 6px 18px 0 rgba(0, 0, 0, 0.2);
        }

        & .onoffswitch-inner {
            margin-left: 0;
        }
    }
}

/* DISABLE STATES */
.onoffswitch-checkbox:disabled {
    & + .onoffswitch-label {
        background-color: #e4e1e1;
    }

    & + .onoffswitch-label:before {
        background: #efefef;
        box-shadow: 0 6px 12px 0 #c7c7c7;
    }
}