$background-color: #fff;
$border-color: #ccc;

$transparent-background-mask-color: rgba(0, 0, 0, 0.7);
$tooltip-background-color: #2B222A;

$button-hover-background-color: #e6e6e6;
$button-hover-border-color: #adadad;

$table-row-background-color: #f3f3f3;

$state-inactive: #ccc;
$state-active: #000;
$state-hover: #f3f3f3;
$state-disabled: #eee;

$highlight-color: #337ab7;