@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?xqril3');
    src:  url('../fonts/icomoon.eot?xqril3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xqril3') format('truetype'),
    url('../fonts/icomoon.woff?xqril3') format('woff'),
    url('../fonts/icomoon.svg?xqril3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-light-bulb:before {
    content: "\e90e";
}
.icon-paintcan:before {
    content: "\e905";
}
.icon-checkmark:before {
    content: "\e913";
}
.icon-tick:before {
    content: "\e913";
}
.icon-correct:before {
    content: "\e913";
}
.icon-accept:before {
    content: "\e913";
}
.icon-ok:before {
    content: "\e913";
}
.icon-cancel-circle:before {
    content: "\e90f";
}
.icon-close:before {
    content: "\e90f";
}
.icon-remove:before {
    content: "\e90f";
}
.icon-delete:before {
    content: "\e90f";
}
.icon-file-empty:before {
    content: "\e910";
}
.icon-folder:before {
    content: "\e911";
}
.icon-directory:before {
    content: "\e911";
}
.icon-category:before {
    content: "\e911";
}
.icon-browse:before {
    content: "\e911";
}
.icon-info:before {
    content: "\e912";
}
.icon-information:before {
    content: "\e912";
}
.icon-display:before {
    content: "\e906";
}
.icon-screen:before {
    content: "\e906";
}
.icon-monitor:before {
    content: "\e906";
}
.icon-computer:before {
    content: "\e906";
}
.icon-desktop:before {
    content: "\e906";
}
.icon-pc:before {
    content: "\e906";
}
.icon-paint-format:before {
    content: "\e907";
}
.icon-droplet:before {
    content: "\e908";
}
.icon-arrow-down-right:before {
    content: "\e909";
}
.icon-arrow-up-right:before {
    content: "\e90a";
}
.icon-arrow-right:before {
    content: "\e90b";
}
.icon-eye-blocked:before {
    content: "\e90c";
}
.icon-views:before {
    content: "\e90c";
}
.icon-vision:before {
    content: "\e90c";
}
.icon-visit:before {
    content: "\e90c";
}
.icon-banned:before {
    content: "\e90c";
}
.icon-blocked:before {
    content: "\e90c";
}
.icon-forbidden:before {
    content: "\e90c";
}
.icon-private:before {
    content: "\e90c";
}
.icon-eye:before {
    content: "\e90d";
}
.icon-views2:before {
    content: "\e90d";
}
.icon-vision2:before {
    content: "\e90d";
}
.icon-visit2:before {
    content: "\e90d";
}
.icon-stats-bars:before {
    content: "\e901";
}
.icon-stats:before {
    content: "\e901";
}
.icon-statistics:before {
    content: "\e901";
}
.icon-chart:before {
    content: "\e901";
}
.icon-pie-chart:before {
    content: "\e902";
}
.icon-stats2:before {
    content: "\e902";
}
.icon-statistics2:before {
    content: "\e902";
}
.icon-graph:before {
    content: "\e902";
}
.icon-loop:before {
    content: "\e903";
}
.icon-repeat:before {
    content: "\e903";
}
.icon-player:before {
    content: "\e903";
}
.icon-reload:before {
    content: "\e903";
}
.icon-refresh:before {
    content: "\e903";
}
.icon-update:before {
    content: "\e903";
}
.icon-synchronize:before {
    content: "\e903";
}
.icon-arrows:before {
    content: "\e903";
}
.icon-loop2:before {
    content: "\e904";
}
.icon-repeat2:before {
    content: "\e904";
}
.icon-player2:before {
    content: "\e904";
}
.icon-video-camera:before {
    content: "\e900";
}
.icon-video:before {
    content: "\e900";
}
.icon-media:before {
    content: "\e900";
}
.icon-film:before {
    content: "\e900";
}
.icon-movie:before {
    content: "\e900";
}