#tooltip {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $tooltip-background-color;
    color: $background-color;
    padding: 10px;
    font-size: 14px;
    max-width: 300px;
    z-index: 99;

    opacity: 0;
    transition: opacity 0.75s ease;

    &.visible {
        opacity: 1;
    }

    & > .element-name {
        text-overflow: ellipsis;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        direction: rtl;
        padding-bottom: 10px;
    }

    & table {
        & td.metric-name-column {
            font-weight: bold;
        }
    }
}

.tooltip-toggle {
    cursor: pointer;
    position: relative;

    &::before {
        position: absolute;
        top: 20px;
        left: -80px;
        background-color: $tooltip-background-color;
        color: $background-color;
        content: attr(aria-label);
        padding: 10px;
        text-transform: none;
        transition: all 0.5s ease;
        width: 160px;
        z-index: 1;
    }

    &::before,
    &::after {
        color: $background-color;
        font-size: 14px;
        opacity: 0;
        pointer-events: none;
        text-align: center;
    }

    &:focus::before,
    &:focus::after,
    &:hover::before,
    &:hover::after {
        opacity: 1;
        transition: all 0.75s ease;
    }
}