.onoffswitch {
    position: relative; width: 50px;
    margin: 0 auto;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 21px; padding: 0; line-height: 21px;
    border: 0px solid #FFFFFF; border-radius: 32px;
    background-color: #9E9E9E;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 32px; margin: -5.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 25px;
    border-radius: 32px;
    box-shadow: 0 6px 12px 0px #757575;

    transition: right 0.2s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #42A5F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #42A5F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
    background-color: #2196F3;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

/* DISABLE STATES */
.onoffswitch-checkbox:disabled + .onoffswitch-label {
    background-color: #e4e1e1;
}

.onoffswitch-checkbox:disabled + .onoffswitch-label:before {
    background: #efefef;
    box-shadow: 0 6px 12px 0px #c7c7c7;
}