#tooltip {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000;
    background: #fff;
    padding: 5px;
    z-index: 99;

    display: none;
}

#render-calls {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    z-index: 10000;
}

#render-calls.warning {
    background: #f00;
    color: #fff;
}

#stage {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.vertical-line {
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background: #a3a3a3;
    z-index: 98;

    transition: left 1s ease;
}

#stage > .vertical-line {
    left: 100%;
}

#stage.split > .vertical-line {
    left: 50%;
}

#stage canvas {
    position: absolute;
    transition: all 1s ease;
}

#stage canvas:first-child {
    left: 0;
}

#stage canvas:last-child {
    opacity: 0;
    left: 100%;
}

#stage.split canvas:last-child {
    opacity: 1;
    left: 50%;
}

#control-panel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: #fff;
    box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
    z-index: 100;
}

.checkbox-container {
    position: absolute;
    transform: translateX(-50%);
}

#synchronize-checkbox-container {
    bottom: 20px;
    left: 45%;
}

#fullscreen-checkbox-container {
    bottom: 20px;
    left: 55%;
}

#colorcode-checkbox-container {
    bottom: 20px;
    left: 50%;
}

.commit-select {
    position: absolute;
    bottom: 20px;
}

#first-commit-select {
    left: 25%;
    transform: translateX(-50%);
}

#second-commit-select {
    left: 75%;
    transform: translateX(-50%);
}

#loading-indicator {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 100px;
    left: 0;
    color: #fff;
    z-index: 99;
}