#tooltip {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000;
    background: #fff;
    padding: 5px;

    display: none;
}

#top-view {
    position: absolute;
    left: 50px;
    top: 50px;
    zoom: 0.1;
}

.preview-element {
    position: absolute;
    box-sizing: border-box;
}

#control-panel {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}