#tooltip {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000;
    background: #fff;
    padding: 5px;
    z-index: 99;

    display: none;
}

#render-calls {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    z-index: 10000;
}

.vertical-line {
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background: #a3a3a3;
    z-index: 98;

    transition: left 1s ease;
}

#stage {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#stage > .vertical-line {
    left: 100%;
}

#stage.split > .vertical-line {
    left: 50%;
}

#stage > .loading-indicator-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 100px;
    left: 0;
    color: #fff;
    z-index: 99;
}

#stage > .loading-indicator-container > .left {
    left: 50%;
}

#stage > .loading-indicator-container > .right {
    left: 200%;
}

#stage.split > .loading-indicator-container > .left {
    left: 25%;
}

#stage.split > .loading-indicator-container > .right {
    left: 75%;
}

#stage canvas {
    position: absolute;
    cursor: -webkit-grab;
    transition: all 1s ease;
}

#stage canvas:first-child {
    left: 0;
}

#stage canvas:last-child {
    opacity: 0;
    left: 100%;
}

#stage.split canvas:last-child {
    opacity: 1;
    left: 50%;
}

#control-panel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: #fff;
    box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
    z-index: 100;
}

#control-panel > .control-container {
    position: relative;
    float: left;
    margin: 10px;
}

#control-panel > .control-container:last-child {
    float: right;
}

.control-label {
    display: block;
    margin-bottom: 10px;
}

.checkbox-container {
    position: relative;
}

.checkbox-icon {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
}

.checkbox-icon.left {
    left: 0;
}

.checkbox-icon.right {
    right: 0;
}

.search-wrapper {
    position: relative;
}

#autocomplete-container {
    position: absolute;
    left: 0;
    top: 25px;
    width: 100%;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    max-height: 250px;
    overflow-y: auto;

    box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
}

#autocomplete-container .suggestions-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

#autocomplete-container .suggestions-list > li {
    cursor: pointer;
    padding: 2px 0;
}

#comparison-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 100%, 0);
    width: 25%;
    height: 160px;
    background: #fff;
    box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
    z-index: 100;

    transition: transform 1.5s ease;
}

#comparison-container.open {
    transform: translate3d(-50%, 0%, 0);
}

#comparison-container > h2 {
    text-align: center;
}

#comparison-container > .column {
    width: 50%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}