<div class="btn-group">
    <button type="button" class="btn btn-secondary" (click)="takeScreenshot()">Screenshot</button>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div id="left-gif-placeholder"></div>
        <button type="button" class="btn btn-danger" (click)="removeScreenshots()">zurücksetzen</button>
    </div>
</div>