<div id="stage" class="split">
    <div class="vertical-line"></div>
    <app-screen
            [screenType]="screenTypes.left"
            [activeViewType]="activeViewType$ | async"
            [activeFilter]="activeFilter$ | async"
            [metricTree]="metricTree$ | async">
    </app-screen>
    <app-screen
            [screenType]="screenTypes.right"
            [activeViewType]="activeViewType$ | async"
            [activeFilter]="activeFilter$ | async"
            [metricTree]="metricTree$ | async">
    </app-screen>
    <app-comparison-panel></app-comparison-panel>
    <app-legend [activeViewType]="activeViewType$ | async" [metricMapping]="metricMapping$ | async"></app-legend>
</div>
<app-tooltip></app-tooltip>
<p *ngIf="metricsLoading$ | async">LADE</p>