/* You can add global styles to this file, and also import other style files */

@import './app/config';

#stage {
  canvas {
    position: absolute;
    cursor: -webkit-grab;
    transition: all 1s ease;

    &:first-child {
      left: 0;
    }

    &:last-child {
      opacity: 0;
      left: 100%;
    }
  }

  &.split {
    canvas:last-child {
      opacity: 1;
      left: 50%;
    }
  }
}

.dropdown-menu {
  padding: 1.25rem;
}

/* Overwrite styles of ng2-auto-complete */
.ngui-auto-complete {
  & > ul {
    min-width: 100%;
    box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
    white-space: nowrap;
    max-height: 250px;

    & li {
      cursor: pointer;
      padding: 10px 15px !important;
      max-width: 400px;
      overflow: hidden;
      text-overflow: ellipsis;

      &.selected {
        color: $state-active-color;
        background-color: $state-hover-color !important;
      }

      &:hover {
        color: $state-active-color;
        background-color: $state-hover-color !important;
      }
    }
  }
}