<div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="radio-splitscreen" name="radio-group-screen" class="custom-control-input" [value]="viewTypes.split" (click)="changeViewType(viewTypes.split)" [checked]="activeViewType === viewTypes.split" />
    <label class="custom-control-label" for="radio-splitscreen">nebeneinander</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="radio-fullscreen" name="radio-group-screen" class="custom-control-input" [value]="viewTypes.merged" (click)="changeViewType(viewTypes.merged)" [checked]="activeViewType === viewTypes.merged" />
    <label class="custom-control-label" for="radio-fullscreen">kombiniert</label>
</div>