<div class="control-item">
    <input id="radio-splitscreen" type="radio" name="radio-group-screen" [value]="viewTypes.split" (click)="changeViewType(viewTypes.split)" [checked]="activeViewType === viewTypes.split" />
    <label for="radio-splitscreen">nebeneinander</label>
</div>
<div class="control-item">
    <input id="radio-fullscreen" type="radio" name="radio-group-screen" [value]="viewTypes.merged" (click)="changeViewType(viewTypes.merged)" [checked]="activeViewType === viewTypes.merged" />
    <label for="radio-fullscreen">kombiniert</label>
</div>